@import '_text';
@import 'base/_variables';

@mixin card-text-base($color: $white) {
    @include text-base($size: 24px, $color: $color, $font-weight: 800);
        position: relative;
        padding-inline: 24px;
}

.card {
    height: 341px;
    width: 400px;
    background-color: $violet;
    backdrop-filter: blur(2px);
    border-radius: 30px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    &__background-image {
        position: absolute; /* Устанавливаем позицию абсолютной */
        top: 35px; /* Располагаем элемент в верхнем левом углу родительского элемента */
        left: 115px;
        width: 236px; /* Занимает всю ширину родительского элемента */
        height: 154px; /* Занимает всю высоту родительского элемента */
        z-index: -1; /* Задаем элементу задний план */
    }
    &__title {
        @include card-text-base($color: $white);
        margin-top: 24px;
    }
    &__subtitle {
        @include card-text-base($color: $yellow);
    }
    &__tutor {
        &__surname {
            @include text-base($size: 14px);
            font-weight: bold;
            margin-top: 19px;
            margin-left: 150px; 
        }
        &__image {
            position: absolute; /* Устанавливаем позицию абсолютной */
            bottom: 0; /* Располагаем элемент в нижнем краю родительского элемента */
            left: 0; /* Располагаем элемент в левом краю родительского элемента */
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 30px;
            margin-top: -222px;
            &__pointer {
                width: 25px;
                flex-shrink: 0;
                margin-left: 130px;
                margin-top: -5px;
                z-index: 1; /* задаем элементу передний план */
            }
        }
    }
    &__price {
        &--new {
            @include text-base($size: 40px, $color: $white, $font-weight: 800);
            margin-left: 196px;
            margin-top: 30px;
        }
        &--old {
            @include text-base($size: 20px, $color: $white, $font-weight: 800);
            text-decoration: line-through red; 
            margin-left: 288px;
        }
        &--sale {
            @include text-base($size: 10px, $color: $white, $font-weight: 600);
            margin-left: 327px;
            margin-top: -21px;
        }
    }
    &__flag {
        width: 66px;
        height: 66px;
        margin-left: 144px;
        margin-top: 8px;
        z-index: 1;
    }
    &__read-more {
        @include text-base($size: 18px, $font-weight: 500, $color: $white);
        margin-left: 254px;
        margin-top: -40px;
        &::after {
          content: ''; /* пустой content */
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M0.93934 14.9393C0.353553 15.5251 0.353553 16.4749 0.93934 17.0607C1.52513 17.6464 2.47487 17.6464 3.06066 17.0607L0.93934 14.9393ZM17.5 2C17.5 1.17157 16.8284 0.5 16 0.500001L2.5 0.5C1.67157 0.5 1 1.17157 1 2C1 2.82843 1.67157 3.5 2.5 3.5H14.5V15.5C14.5 16.3284 15.1716 17 16 17C16.8284 17 17.5 16.3284 17.5 15.5L17.5 2ZM3.06066 17.0607L17.0607 3.06066L14.9393 0.93934L0.93934 14.9393L3.06066 17.0607Z" fill="%23C9FF50"/></svg>'); /* добавляем SVG-изображение в виде data URI */
          background-size: contain; /* размер изображения */
          display: inline-block; /* отображать как блочный элемент */
          width: 18px; /* ширина изображения */
          height: 18px; /* высота изображения */
          margin-left: 5px; /* отступ слева */
        }
      }
}