.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-bottom: 100px;
    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 60px;
        &__text {
            @include text-base($size: 48px, $font-weight: 800);
        }
    }
    &__cards-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 30px 60px;
    }
}
